.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  border: 30px;
  background-color: blue;
  color: red;
}

li{
  list-style: none;
}

#homePageText{
  position: absolute;
  align-content: center;
  left: 815px;
  bottom: 450px;
  font-weight: bold;
  
}

#CVLinkText{
  position: absolute;
  align-content: center;
  left: 815px;
  bottom: 450px;
  font-weight: bold;
}