.nav-tabs {
  display: flex;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
  border: 30px;
  background-color: blue;
}

.nav-item{
  color: green;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-group{
  display: flex;
  justify-content: space-evenly;
}

.nav-item:visited{
  color: blue;
}

.portfolioContainer, li{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.nav-tabs, li{
  list-style: none;
  color: rgb(19, 225, 47);
  text-decoration: none;
}

body{
  background-color: green;
}

#CVLinkText, #resumeLinkText{
  color: white;
  font-weight: normal;
}

#homePageText{
  /* position: absolute; */
  align-content: center;
  /* left: 815px; */
  /* bottom: 450px; */
  font-weight: bold;
}

#CVLinkText{
  /* position: absolute; */
  align-content: center;
  /* left: 815px; */
  /* bottom: 450px; */
  font-weight: bold;
}

#CV_resume{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
}

#aboutMe{
  display: flex;
  background-color: pink;
  justify-content: center;
  flex-direction: column;
}

#photo{
  flex: 2 1 150px;
}

.parentContainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card{
  width: 30%;
  margin-bottom: 20px;
}

.jumbotron{
  align-items: flex-start;
  justify-content: center;
}

.cardContainer{
  display: flex;
  justify-content: space-between;
}

.btn{
  margin: 5px;
}